proyectos/tsi1/ArmazonGr6/trunk/SilverCloud/Service References/ServiceReferenceSilver/ServiceSilver1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:1056/ServiceSilver.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:1056/ServiceSilver.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1056/ServiceSilver.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ArmazonGr6" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServiceSilver_GetCloudItems_InputMessage">
    <wsdl:part name="parameters" element="GetCloudItems" />
  </wsdl:message>
  <wsdl:message name="ServiceSilver_GetCloudItems_OutputMessage">
    <wsdl:part name="parameters" element="GetCloudItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceSilver_Redireccionar_InputMessage">
    <wsdl:part name="parameters" element="Redireccionar" />
  </wsdl:message>
  <wsdl:message name="ServiceSilver_Redireccionar_OutputMessage">
    <wsdl:part name="parameters" element="RedireccionarResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSilver">
    <wsdl:operation name="GetCloudItems">
      <wsdl:input wsaw:Action="urn:ServiceSilver/GetCloudItems" message="ServiceSilver_GetCloudItems_InputMessage" />
      <wsdl:output wsaw:Action="urn:ServiceSilver/GetCloudItemsResponse" message="ServiceSilver_GetCloudItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Redireccionar">
      <wsdl:input wsaw:Action="urn:ServiceSilver/Redireccionar" message="ServiceSilver_Redireccionar_InputMessage" />
      <wsdl:output wsaw:Action="urn:ServiceSilver/RedireccionarResponse" message="ServiceSilver_Redireccionar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>