proyectos/tsi1/ArmazonGr6/trunk/ArmazonGr6/Service References/Client_Armazon/ArmazonWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1238/ArmazonWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Armazon.DataContracts" />
  <xs:element name="search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fullText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Armazon.DataContracts" minOccurs="0" name="searchResult" nillable="true" type="q1:ArrayOfDCProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProduct" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Armazon.DataContracts" minOccurs="0" name="getProductResult" nillable="true" type="q2:DCProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRatings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProduct" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRatingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Armazon.DataContracts" minOccurs="0" name="getRatingsResult" nillable="true" type="q3:ArrayOfDCRating" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CartBuy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Armazon.DataContracts" minOccurs="0" name="items" nillable="true" type="q4:ArrayOfDCCartItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CartBuyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CartBuyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>