proyectos/tsi1/ArmazonGr6/trunk/ArmazonGr6/Service References/ServiciosExternosProxy/Service31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1565/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommunicationServer" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommunicationServer" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommunicationServer" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iniciarCheckOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="importe" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iniciarCheckOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iniciarCheckOutResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="confirmarCheckOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="monto" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="confirmarCheckOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="confirmarCheckOutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarEnAmazon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="textoABuscar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nroPag" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarEnAmazonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CommunicationServer" minOccurs="0" name="buscarEnAmazonResult" nillable="true" type="q3:ArrayOfCompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fullText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CommunicationServer" minOccurs="0" name="searchResult" nillable="true" type="q4:ArrayOfDCProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProduct" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CommunicationServer" minOccurs="0" name="GetProductResult" nillable="true" type="q5:DCProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRatings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProduct" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRatingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CommunicationServer" minOccurs="0" name="getRatingsResult" nillable="true" type="q6:ArrayOfDCRating" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CartBuy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CommunicationServer" minOccurs="0" name="items" nillable="true" type="q7:ArrayOfDCCartItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CartBuyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CartBuyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>