proyectos/tsi1/ArmazonGr6/trunk/CommunicationServer/Service References/ArmazonWSClient/ArmazonWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ArmazonWS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4545/ArmazonWS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4545/ArmazonWS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4545/ArmazonWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/armazonWS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IArmazonWS_search_InputMessage">
    <wsdl:part name="parameters" element="tns:search" />
  </wsdl:message>
  <wsdl:message name="IArmazonWS_search_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchResponse" />
  </wsdl:message>
  <wsdl:message name="IArmazonWS_GetProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduct" />
  </wsdl:message>
  <wsdl:message name="IArmazonWS_GetProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductResponse" />
  </wsdl:message>
  <wsdl:message name="IArmazonWS_getRatings_InputMessage">
    <wsdl:part name="parameters" element="tns:getRatings" />
  </wsdl:message>
  <wsdl:message name="IArmazonWS_getRatings_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRatingsResponse" />
  </wsdl:message>
  <wsdl:message name="IArmazonWS_CartBuy_InputMessage">
    <wsdl:part name="parameters" element="tns:CartBuy" />
  </wsdl:message>
  <wsdl:message name="IArmazonWS_CartBuy_OutputMessage">
    <wsdl:part name="parameters" element="tns:CartBuyResponse" />
  </wsdl:message>
  <wsdl:portType name="IArmazonWS">
    <wsdl:operation name="search">
      <wsdl:input wsaw:Action="http://tempuri.org/IArmazonWS/search" message="tns:IArmazonWS_search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArmazonWS/searchResponse" message="tns:IArmazonWS_search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IArmazonWS/GetProduct" message="tns:IArmazonWS_GetProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArmazonWS/GetProductResponse" message="tns:IArmazonWS_GetProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRatings">
      <wsdl:input wsaw:Action="http://tempuri.org/IArmazonWS/getRatings" message="tns:IArmazonWS_getRatings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArmazonWS/getRatingsResponse" message="tns:IArmazonWS_getRatings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CartBuy">
      <wsdl:input wsaw:Action="http://tempuri.org/IArmazonWS/CartBuy" message="tns:IArmazonWS_CartBuy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArmazonWS/CartBuyResponse" message="tns:IArmazonWS_CartBuy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IArmazonWS" type="tns:IArmazonWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="search">
      <soap:operation soapAction="http://tempuri.org/IArmazonWS/search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <soap:operation soapAction="http://tempuri.org/IArmazonWS/GetProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRatings">
      <soap:operation soapAction="http://tempuri.org/IArmazonWS/getRatings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CartBuy">
      <soap:operation soapAction="http://tempuri.org/IArmazonWS/CartBuy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArmazonWS">
    <wsdl:port name="BasicHttpBinding_IArmazonWS" binding="tns:BasicHttpBinding_IArmazonWS">
      <soap:address location="http://localhost:4545/ArmazonWS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>