proyectos/tsi1/ArmazonGr6/trunk/CommunicationServer/Service References/ArmazonWSClient/ArmazonWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/armazonWS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/armazonWS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDCProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DCProduct" nillable="true" type="tns:DCProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDCProduct" nillable="true" type="tns:ArrayOfDCProduct" />
  <xs:complexType name="DCProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="Attrs" nillable="true" type="tns:ArrayOfDCProductAttr" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="RatingAvg" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DCProduct" nillable="true" type="tns:DCProduct" />
  <xs:complexType name="ArrayOfDCProductAttr">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DCProductAttr" nillable="true" type="tns:DCProductAttr" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDCProductAttr" nillable="true" type="tns:ArrayOfDCProductAttr" />
  <xs:complexType name="DCProductAttr">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="DCProductAttr" nillable="true" type="tns:DCProductAttr" />
  <xs:complexType name="ArrayOfDCRating">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DCRating" nillable="true" type="tns:DCRating" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDCRating" nillable="true" type="tns:ArrayOfDCRating" />
  <xs:complexType name="DCRating">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rating" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DCRating" nillable="true" type="tns:DCRating" />
  <xs:complexType name="ArrayOfDCCartItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DCCartItem" nillable="true" type="tns:DCCartItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDCCartItem" nillable="true" type="tns:ArrayOfDCCartItem" />
  <xs:complexType name="DCCartItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DCCartItem" nillable="true" type="tns:DCCartItem" />
</xs:schema>